//colors
$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3224;
$red: #e35028;
$white: #fff;

// blocks import
@import "../blocks/media";
@import "../blocks/base";
@import "../blocks/header";
@import "../blocks/nav";
@import "../blocks/promo";
@import "../blocks/btn";
@import "../blocks/variables";
@import "../blocks/fonts";
@import "../blocks/advantages";
@import "../blocks/reviews";
@import "../blocks/fixed-menu";
@import "../blocks/form";
@import "../blocks/footer";
@import "../blocks/team";
@import "../blocks/menu";
@import "../blocks/menu-slider";
@import "../blocks/hamburger-menu";
@import "../blocks/work";