@font-face {
    font-family: 'gagalinregular';
    src: url('gagalin-regular-webfont.woff2') format('woff2'),
         url('gagalin-regular-webfont.woff') format('woff'),
         url('gagalin-regular-webfont.svg#gagalinregular') format('svg');
    font-weight: normal;
    font-style: normal;

}