.hamburger-nav-section {
    .active {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        background-color: #2f3234;
        opacity: 1;
    }

    position: relative;
}

.hamburger-nav {
    display: none;
    // z-index: 2;

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__item:after {
        content: '';
        display: block;
        width: 4px;
        height: 4px;
        background-color: #fff;
        border-radius: 50%;
        margin: 0 auto;
        margin-top: 10px;
    }

    &__item {
        margin-top: 10px;

        &:last-child {
            &::after {
                display: none;
            }
        }
    }

    &__link {
        color: #ffffff;
        font-family: Ubuntu;
        font-size: 24px;
        font-weight: 400;
        line-height: 40px;
        text-transform: uppercase;
        text-decoration: none;

        &:hover {
            color: #f9b43b;
            transition: 0.3s;
        }
    }
}

.overflow {
    overflow: hidden;
}

.hamburger {
    z-index: 3;
    cursor: pointer;
}

.hamburger-menu-close {
    position: absolute;
    top: 1%;
    right: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 25px;
    height: 25px;
    margin-top: 1.875rem;
    margin-right: 1.5625rem;
}

.hamburger-cross {
    width: 1.5625rem;
    height: 0.25rem;
    background: #ffffff;
    border-radius: 0.3125rem;
    position: relative;
    cursor: pointer;
}

.hamburger-cross::after {
    content: '';
    display: block;
    position: absolute;
    width: 0.25rem;
    height: 1.5625rem;
    background: #ffffff;
    border-radius: 0.3125rem;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.logo-hamburger-menu {
    position: absolute;
    top: rem(12px);
    left: rem(20px);
    width: rem(92px);
    height: rem(69px);
}