.promo {
    background: url("../../img/bg/bg-home.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.promo__container {
    height: 100%;
    display: flex;
}

.promo__content {
    display: flex;
    align-items: center;

    @include tablets {
        flex-direction: column;
        justify-content: center;
        padding: 0 20%;
    }

    @include phones {
        padding: 0;
    }
}

.promo__img {
    max-width: 100%;
    max-height: 100%;

    @include phones {
        width: 87%;
    }

}

.promo__title {

    @include tablets {
        margin-top: 50px;
        text-align: center;
    }
}

.promo__subtitle {
    font-size: rem(65px);
    font-weight: 500;
    font-family: Lifehack;
    line-height: 1;

    @include phones {
        font-size: rem(50px);
    }
}

.scroll-btn {
    position: absolute;
    bottom: rem(30px);
    left: 50%;
    transform: translateX(-50%);
    width: rem(29px);
    height: rem(15px);
}